//多行超出省略号
@mixin ell($line: 2) {
  //要满足以下条件才可以
  overflow: hidden;
  text-overflow: ellipsis;
  /*弹性伸缩盒子模型显示*/
  display: -webkit-box;
  /*限制在一个块元素显示的文本的行数*/
  -webkit-line-clamp: $line;
  /*设置或检索伸缩对象的子元素的排列方式*/
  -webkit-box-orient: vertical;
}

//宽高
@mixin wh($width, $height: $width) {
  width: $width;
  height: $height;
}

//字体大小、行高、字体
@mixin fl($size, $line-height) {
  font-size: $size;
  line-height: $line-height;
}

//字体大小，颜色
@mixin fc($size, $color) {
  font-size: $size;
  color: $color;
}
